body {
   background-color:#faf3e0;
   color: #2c3e50;
}

h1 {
   text-size-adjust: 32 px;
   color: #0077b6;
   text-align: center;
}

h2 {
   text-size-adjust: 26 px;
   color: #f4a261;
}  

img {
   font-size: 100 px;
   align-content: center;
}

form {
   background-color: #ffffff;
}

select {
   border-radius: 1 px;
   border-color: #eaeaea;
}

button {
   background-color: #0077b6;
   color: white;
   text-align: center;
}
